/public/uploads/*
!/public/uploads/.gitkeep
!/public/uploads/.htaccess
!/public/uploads/documents/
!/public/uploads/documents/.gitkeep
*.log
.env
*.env.local
node_modules/
vendor/
.DS_Store
Thumbs.db
app_config.php
